<nav id="main-navbar" class="navbar navbar-expand-lg bg-white fixed-top w-250">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <!-- Brand -->
    <a class="navbar-brand" href="#">
      <img class="w-200" src="/pub/images/logo.jpg" height="25" alt="MDB Logo" loading="lazy" />
    </a>
  </div>
  <!-- Container wrapper -->
</nav>
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white h-100 w-250">
  <div class="position-sticky">
    <div id="sidebar-content" class="list-group list-group-flush mx-3">
    </div>
    <div id="sidebar-access" class="list-group list-group-flush mx-3">
    </div>
    <div id="sidebar-adv" class="list-group list-group-flush mx-3">
    </div>
  </div>
</nav>