@import url('../font/bootstrap-icons.css');
@import url('../css/bootstrap.min.css');
@import url('../css/sidebar.css');


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #007bff;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
main {
  height: 100%;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

h1, h2, h3 {
    color: #333;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background: #0056b3;
}

.w-250 {
    width: 15%;
    min-width: 250px;
}

.link-row {
  display: flex;
  justify-content: space-between; /* left + right */
  margin: 0;
  padding: 0;
}
.link-row p {
  margin: 0;
}

.link-row div img {
  width: 10%;
}
.link-row div {
  display: flex;
  justify-content: space-between; /* left + right */
  width: 90%;
}
.link-row div p {
  margin-top: 0.2rem;
}

.small-text {
  font-size: 0.875em;
}

.tiny-text {
  font-size: 0.675em;
}
.w-200 {
  width: 200px !important;
}
.display-img {
    max-width: 1200px;
    height: 400px;
    margin-left: 20px;
}