@import 'variables';
@import 'bootstrap';

// Main styles
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

// Header styles
header {
    background: $primary-color;
    color: white;
    padding: 1rem 0;
    text-align: center;
}
// main
main {
  min-height: 750px;
}
// Footer styles
footer {
    background: $secondary-color;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

@import "../scss/functions";
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";
@import url('../scss/variables');
@import url('../scss/variables-dark');
@import url('../scss/mixins');
@import url('../scss/maps');
@import url('../scss/root');
@import url('../scss/utilities');
@import url('../scss/reboot');
@import url('../scss/containers');
@import url('../scss/grid');
@import url('../scss/helpers');
@import url('../scss/utilities/api');
@import url('../scss/components/alerts');
@import url('../scss/components/buttons');
@import url('../scss/components/cards');
@import url('../scss/components/navbar');
@import url('../scss/components/forms');
@import url('../scss/components/modals');